@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}
<body>
    <div style='float: left;'>
        <form method="post" id="product-form" >
            <fieldset>
                <legend>Search</legend>
                <div>
                <label for="DesiredProduct" style="font-size: 20px;">Product Name:&nbsp&nbsp </label>
                <input type="text" name="DesiredProduct" value="" />
                </div>
                <legend>Which websites you want to search from?</legend>      
                <input type="checkbox" name="website" value="4"> <span class="text-warning">Amazon</span> <img src="~/assets/favicon-amazon.png" width="15" height="15"/><br>      
                <input type="checkbox" name="website" value="2"> <span class="text-warning"> Tapaz</span> <img src="~/assets/favicon-tapaz.png" width="12" height="12"/><br>      
                <input type="checkbox" name="website" value="1"> <span class="text-warning">Trendyol</span> <img src="https://cdn.dsmcdn.com/web/production/favicon.ico" /><br>   
                <button type="submit" class="btn btn-primary" form="product-form" value="Submit" style="margin:auto">Submit</button>
            </fieldset>
        </form>
    </div>
    @{
        Console.WriteLine(Model.flag);
    }
    @if (Model.flag == true)
    {
        <div>
            <form id="filter-form">
                <fieldset>
                    <legend>Filter Resutls</legend> 
                    @if (Model.websiteIDs.Split(",").Contains("4"))
                    {
                        <input type="checkbox" name="website-filter" value="4" > <span class="text-warning">Amazon</span> <img src="~/assets/favicon-amazon.png" width="15" height="15"/><br>
                    }
                    else
                    {
                        <input type="checkbox" name="website-filter" value="4"  disabled> <span class="text-warning">Amazon</span> <img src="~/assets/favicon-amazon.png" width="15" height="15"/><br>
                        
                    }
                    @if (Model.websiteIDs.Split(",").Contains("2"))
                    {
                        <input type="checkbox" name="website-filter" value="2" > <span class="text-warning"> Tapaz</span> <img src="~/assets/favicon-tapaz.png" width="12" height="12"/><br>
                    }
                    else
                    {
                        <input type="checkbox" name="website-filter" value="2" disabled> <span class="text-warning"> Tapaz</span> <img src="~/assets/favicon-tapaz.png" width="12" height="12"/><br>
                    }
                    @if (Model.websiteIDs.Split(",").Contains("1"))
                    {
                        <input type="checkbox" name="website-filter" value="1" > <span class="text-warning">Trendyol</span> <img src="https://cdn.dsmcdn.com/web/production/favicon.ico" /><br>
                    }
                    else
                    {
                        <input type="checkbox" name="website-filter" value="1" disabled> <span class="text-warning">Trendyol</span> <img src="https://cdn.dsmcdn.com/web/production/favicon.ico" /><br>                       
                    }
                    <button type="submit" class="btn btn-primary" form="filter-form" value="Submit" style="margin:auto">Filter</button>
                </fieldset>
            </form>
        </div>
        <br />
        <br />
        <br />
    }
    <br />
    @if(Model.flag==true){
        <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Price</td> 
                <td>Rating</td>
                <td>Extras</td>
                </tr>
        </thead>
        <tbody>
            @foreach(var val in Model.Products)
            {
                <tr>
                        @foreach(var data in val.GetProductData())
                        {
                            
                            @if (Model.websiteIDs.Split(",").Contains("4") && val.productType==4)
                            {
                                <td>@data</td>
                            }
                            @if (Model.websiteIDs.Split(",").Contains("2") && val.productType==2)
                            {
                                <td>@data</td>
                            }
                            @if (Model.websiteIDs.Split(",").Contains("1") && val.productType==1)
                            {
                                <td>@data</td>
                            }
                        }
                </tr>
            }
        </tbody>
    </table>
    }
</body>

