table {
    caption-side: bottom;
    border-collapse: collapse;
    border: 1px solid black;
}


th {
    text-align: inherit;
    text-align: -webkit-match-parent
}

tbody, td, tfoot, th, thead, tr {
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

td {
    padding: 8px 10px;
}
